{% extends 'base.html.twig' %}

{% block title %}Hello CatController!{% endblock %}

{% block body %}

<h1>Crée votre nouvelle cathégorie</h1>
{{ form_start(form) }}
{{ form_widget(form)}}
<button type="submit" class="btn btn-success">Enregistrer</button>
{{ form_end(form) }}

{% endblock %}
